{% extends 'base.html' %}
{% load staticfiles %}{% block content %}


<div id="content" class="clearfix">
<ul class="innerWrapper">
<!--[if IE 6]>
<div class="alert-box error editor">
	<p class="bold">You are using Internet Explorer Version 6 which will not work with administration pages.</p>
	<p>Please upgrade to a modern web browser to use this site.</p>
	<p>Your Test takers can still use Internet explorer 6 however.</p>
	<p>Modern browsers include: <a href="https://www.google.com/intl/en/chrome/browser/">Google Chrome</a> | <a href="http://www.mozilla.org/en-US/firefox/new/">Mozilla Firefox</a> | <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">Microsoft Internet Explorer</a></p>
</div>
<![endif]-->
<div class="col-span-7"><p class="breadcrumb3"><span class="first">Assign To</span></p></div><div class="col-span-3"><ul class="menu-sections">
<li class="test"><a href="My tests"><span>Tests</span></a></li>
<li class="group"><a class="sect" href="Group"><span>Groups</span></a></li>
<li class="link"><a class="sect" href="links"><span>Links</span></a></li></ul>
</div><div class="clearheight20"></div><div class="clearheight20"></div>
  <!--upper yags -->
    <br><br>
    <ul class="steps stepbars stepsbars2">
<li class="step-1 "><a href="">Select Course</a></li><li class="step-2 ">Select TEST</li><li class="step-3 current">ASSIGN</li><li class="step-4 last">Settings</li>


</ul><div class="clearheight"></div><h2 class="test-name name">{{ test_name }}</h2>
<div class="table ">
<ul>
<li>
<div class="row test-question">
<div class="col-span-5">
<h4 class="question-name name">Assign Test:</h4>
</div>
</div>
<div class="row random-questions-forms dual" style="background-color:#a5d3ec">
<div class="col-span-4">

<p class="littledark">Do you want to assign <b>{{ test_name }} to {{ course_name }}
</b></p>



</div>

<div class="clearheight"></div>

    <form method="post" action="Assign test step 3">
        <p><button class="btn btn-create assign_left_link hideme" id="1" value="Confirm">Confirm</button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
         <input type="hidden" name="test-name" value='{{ test_name }}'>
    <input type="hidden" name="course-name" value='{{ course_name }}'>
    <a class="btn btn-create assign_left_link hideme" id="togusegroups" href="Welcome">Cancel</a></p>
    </form>

<div class="hide me" id="dotog_usegroups">
<p class="bold">Select Group(s)</p><form action="Add new registered user group" method="get" id="dosubmit_rg"><input type="hidden" name="assignnew" value="1">
<input type="hidden" name="step" value="1">
<input type="hidden" name="test_id" value="743527">
<table cellpadding="0" cellspacing="0"><tbody><tr><td width="25px"><input type="checkbox" value="308307" name="rg_id_308307" id="rg308307"></td><td><label for="rg308307">my class</label></td></tr>
<tr><td colspan="2"><div class="dotted"></div></td></tr>
</tbody></table></form><p><a class="btn btn-create" href="Add new registered user group" id="submit_rg">Next</a></p><div class="clearheight"></div>
<p><a href="Add new registered user group" class="littlelink">+ Create new Group</a></p>
<div class="clearheight"></div> </div>
</div>
       </ul>
</div>

<div class="clearheight"></div>
   </ul>
</div>
</div>
</div>
</li>
</ul>
</div>
</div> 
<img src="{% static 'css_js/icon_loading_circleV3.gif' %}" alt="Hidden Loading Image" class="hide" width="20" height="20">
</div>

{% endblock %}