{% extends 'base.html' %}

{% block content %}
    <style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#999;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:9px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;border-top-width:1px;border-bottom-width:1px;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:9px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;background-color:#26ADE4;border-top-width:1px;border-bottom-width:1px;}
.tg .tg-pam3{background-color:#ffffff;font-family:"Times New Roman", Times, serif !important;;color:#000000;text-align:center;vertical-align:top}
.tg .tg-xirp{font-weight:bold;font-size:16px;font-family:Arial, Helvetica, sans-serif !important;;background-color:#c0c0c0;color:#000000;text-align:center;vertical-align:top}
.tg .tg-be9z{font-weight:bold;font-size:16px;font-family:Arial, Helvetica, sans-serif !important;;background-color:#c0c0c0;color:#000000;vertical-align:top}
</style>

<div id="content" class="clearfix"">
<div class="innerWrapper">
    <table class="tg" align="center" style="width: 100%; height: 100%;" >
        <tr>
            <th class="tg-xirp" colspan="1">Student Name</th>
            <th class="tg-xirp" colspan="7">Month Name</th>
        </tr>
        <tr>
            <th class="tg-be9z">Date</th>
            <th class="tg-be9z">1</th>
            <th class="tg-be9z">2</th>
            <th class="tg-be9z">3</th>
            <th class="tg-be9z">4</th>
            <th class="tg-be9z">5</th>
            <th class="tg-be9z">6</th>
            <th class="tg-be9z">7</th>
        </tr>
        <tr>
            <th class="tg-be9z">Day</th>
            <th class="tg-be9z">Mon</th>
            <th class="tg-be9z">Tues</th>
            <th class="tg-be9z">Wed</th>
            <th class="tg-be9z">Thurs</th>
            <th class="tg-be9z">Fri</th>
            <th class="tg-be9z">Sat</th>
            <th class="tg-be9z">Sun</th>
        </tr>
        <tr>
            <td class="tg-pam3">Nishaf</td>
            <td class="tg-pam3">P</td>
            <td class="tg-pam3">P</td>
            <td class="tg-pam3">A</td>
            <td class="tg-pam3">P</td>
            <td class="tg-pam3">P</td>
            <td class="tg-pam3">P</td>
            <td class="tg-pam3">A</td>
        </tr>
</table>

</div>
</div>

{% endblock %}