{% extends 'studentbase.html' %}
{% load staticfiles %}{% block content %}



<div id="content" class="clearfix">
<div class="innerWrapper"><h2 class="member-name name">My details</h2>
    <div class="clearheight"></div>
    <div class="col-span-6 table-col-1">
<div class="table">
<div class="row overall">
<div class="col-span-4">
<h5>Name:</h5>
</div>
<div class="col-span-6">
{{ user.name }}</div>
</div>
<div class="row">
<div class="col-span-4">
<h5>Username:</h5>
</div>
<div class="col-span-6">
{{ user.username }} </div>
</div>
<div class="row">
<div class="col-span-4">
<h5>School ID</h5>
</div>
<div class="col-span-6">
{{ user.school_id }} </div>
</div>
<div class="row ">
<div class="col-span-4">
    <h5>Class:</h5>
</div>
<div class="col-span-6">
{{ user.class }}</div>
</div></div>
<div class="editor">
<a class="showcont" id="tog_uname">Change username</a>
<div class="hide" id="dotog_uname">
    <div class="clearheight"></div>
<div class="alert-box">
<p>You are allowed to change your username once only.</p>
This allows you to change it to something you can easily remember. </div>
<a id="c"></a>
<form method="post" action="{% url 'my details' %}">
<input type="hidden" name="change_username" value="1">
<div class="field-group">
<label class="form-field-title" for="checkUsername">Username:</label>
<input type="text" id="checkUsername" name="username"
       onclick="if (c==0){alert(&#39;You are allowed to change your username once only.&#39;);}c=1;">
</div>
<p><a href="javascript:return false;" class="btn tab">Check availability</a></p>
<div class="tab"><span id="errDivcheckUsername" class="hide" style="width: 200px;"></span></div>
<p><button type="submit" name="change_username" class="genericSubmitLink hide btn btn-create tab">Change username</button></p>
</form>
</div>
</div>
<script language="javascript" type="text/javascript">
			var web_root = '/';
			c=0;
		</script>
<div class="clearheight30"></div>
<div class="editor">
<a class="showcont" id="tog_pword">Change password</a>
<div class="hide" id="dotog_pword">
<div class="clearheight"></div>
<div class="alert-box">
<p>You can change the password you use to log into your account.</p>
Passwords must be at least 6 characters long. </div>
<a id="c"></a>
<form method="POST" action="{% url 'my details' %}" onsubmit="return PasswordCheck()">
<input type="hidden" name="change_password" value="1">
<div class="field-group">
<label class="form-field-title" for="newpass1">New password:</label>
<input type="password" name="pass1" id="pass1" aria-autocomplete="list">
<br>
<label class="form-field-title" for="newpass2">Re-type password:</label>
<input type="password" name="pass2" id="pass2">
</div>
<div class="clearheight"></div>
<p><button type="submit" name="change_password" class="genericSubmitLink btn btn-create tab">Change password</button></p>
</form>
</div>
</div>
</div>
<div class="col-span-1">
&nbsp;
</div>
<div class="col-span-3 table-col-3">
<div class="clearheightresponsive30"></div><script type="text/javascript">
google_ad_client = "pub-1813370847715935";
google_ad_slot = "3744434805";
						google_ad_width = 234;
						google_ad_height = 60;
</script><script type="text/javascript" src="./ClassMarker - My details_files/show_ads.js.download"></script>
<script type="text/javascript">
google_ad_client = "pub-1813370847715935";
google_ad_slot = "3744434805";
						google_ad_width = 234;
						google_ad_height = 60;
						</script>
<script type="text/javascript" src="./ClassMarker - My details_files/show_ads.js.download"></script>
</div>
<div class="clearheight60"></div>
<script type="text/javascript">
google_ad_client = "pub-1813370847715935";
google_ad_slot = "8301383085";
						google_ad_width = 234;
						google_ad_height = 60;
</script><script type="text/javascript" src="./ClassMarker - My details_files/show_ads.js.download"></script>
</div> 
</div>



{% endblock %}