{% extends 'studentbase.html' %}
{% load staticfiles %}{% block content %}

<div id="content" class="clearfix">
<div class="innerWrapper"><h2 class="group-name name">{{ test }}</h2><div class="student-page editor"></div><div class="student-asside"><div class="student-message editor">
<p>You are registered in multiple groups.</p>
<a href="https://www.classmarker.com/u/groups/">Change groups</a> to view tests in other groups.
</div></div>
<div class="clearheight30"></div>
<table id="testTable">
<thead class="head-row">
<tr>
<th class="name-title">Name</th>
<th class="percentage-title">Percentage</th>
<th class="score-title">Score</th>
<th colspan="2" class="duration-title">Duration</th>
</tr>
</thead>
<tbody class="sort-data-set">
{% for i,j,k,counter,teacher_username in names %}
<tr class="single-hover-row">
    <div id="editLink_tn">
    <td class="nonametitle">
    <h2 class="test-name name">{{ i }}</h2>
    <div class="extra-info editor">
        <p>Attempts allowed: Unlimited</p>
    </div>
    <div class="extra-info editor">
        <p><a class="btn btn-results" name = "start_test" id = "start_test"  href="{% url 'test_intro' %}?teacher_username={{ teacher_username }}&school_id={{ school_id }}&branch_id={{ branch_id }}&counter={{ counter }}">Start</a></p>
    </div>
    </td>
    <td class="nocontent">-</td>
    <td class="nocontent">{{ j }}</td>
    <td class="nocontent">{{ k }}</td>
    <td class="noactiontitle col-btns"></td>
    </div>
</tr>
{% endfor %}
<!--<tr>
    <td colspan="5" class="notests">
        <div class="clearheight"></div>
        {% for name in test_names %}
        <div class="row">
            <div id="editLink_tn">
                <h2 id="showText_tn" class="bbcodeInWrapper test-name name edit-name show-edit-symbol">{{ name }}
                    <span class="edit-symbol"></span>
                </h2>
            </div>
        </div>
        {% endfor %}
        <div class="clearheight"></div>
    </td>
</tr>-->
</tbody>
</table>
<script type="text/javascript">
	asset_image_toggle_max_width = 600;
</script>
</div> 
</div>


{% endblock %}